<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body id="todo-pg">

	<canvas id="gradient-canvas" data-transition-in></canvas>

	<div class="container">
		<h1>My to do list</h1>
		<ul class="task-list">

			<% if (listas.length > 0) { %>
				<% for (lista of listas) { %>

					<li class="listas-tareas">
						<div id="lista-<%= lista.id %>" class="lista <%= lista.estado == "resuelto" ? 'completo' : '' %>">
							<div class="lista-header">
								<div class="lista-data">
									<div class="lista-title"><%= lista.titulo %></div>
									<div class="lista-fechas">
										<div class="lista-fecha">Creado: <%= lista.creacion %></div>
										<% if (lista.resolucion) { %>
											<div class="lista-fecha lista-fecha-resolucion">Resuelto: <%= lista.resolucion %></div>
										<% } %>
									</div>
								</div>
								<a class="lista-settings"><i class="fa-solid fa-ellipsis-vertical"></i></a>
								<ul class="submenu">
									<li onclick="borrarLista('<%= lista.id %>')" class="menu-item">Borrar</li>
								</ul>
							</div>

							<% if (lista.tareas.length > 0) { %>
								<ul class="sub-tareas">
									<% for (tarea of lista.tareas) { %>
										<li class="tarea">
											<div id="tarea-<%= tarea.id %>" class="item <%= tarea.estado == "resuelto" ? 'completo' : '' %>" onclick="cambiarEstado(<%= tarea.id %>)">
												<div class="item-header">
													<div class="item-title"><%= tarea.titulo %></div>
													<div class="item-fechas">
														<div class="item-fecha">Creado: <%= tarea.creacion %></div>
														<% if (tarea.fechaLimite) { %>
															<div class="item-fecha">Limite: <%= tarea.fechaLimite %></div>
														<% } %>
														<% if (tarea.resolucion) { %>
															<div class="item-fecha fecha-resolucion">Resuelto: <%= tarea.resolucion %></div>
														<% } %>
													</div>
												</div>
												<% if (tarea.descripcion) { %>
													<div class="item-description"><%= tarea.descripcion %></div>
												<% } %>
											</div>
											<a onclick="borrarTarea('<%= tarea.id %>')"><i class="fa-solid fa-trash"></i></a>
										</li>
									<% } %>
								</ul>
							<% } %>

						</div>
					</li>

				<% } %>
			<% } %> 

			<% if (tareas.length > 0) { %>
				<% for (tarea of tareas) { %>

					<li class="tarea">
						<div id="tarea-<%= tarea.id %>" class="item <%= tarea.estado == "resuelto" ? 'completo' : '' %>" onclick="cambiarEstado(<%= tarea.id %>)">
							<div class="item-header">
								<div class="item-title"><%= tarea.titulo %></div>
								<div class="item-fechas">
									<div class="item-fecha">Creado: <%= tarea.creacion %></div>
									<% if (tarea.fechaLimite) { %>
										<div class="item-fecha">Limite: <%= tarea.fechaLimite %></div>
									<% } %>
									<% if (tarea.resolucion) { %>
										<div class="item-fecha fecha-resolucion">Resuelto: <%= tarea.resolucion %></div>
									<% } %>
								</div>
							</div>
							<% if (tarea.descripcion) { %>
								<div class="item-description"><%= tarea.descripcion %></div>
							<% } %>
						</div>
						<a onclick="borrarTarea('<%= tarea.id %>')"><i class="fa-solid fa-trash"></i></a>
					</li>
					
				<% } %>
			<% } %>
		</ul>

		<!-- Formulario crear grupo -->
		<form id="form-grupo" class="hide-form" onsubmit="return agregarGrupo()">
			<h2 class="form-title">Agregar grupo</h2>

			<div class="form-body">
				<div class="input-group">
					<label for="nombre_grupo">Nombre del grupo</label>
					<input type="text" id="nombre_grupo" name="nombre_grupo">
				</div>
			</div>
			
			<div class="form-footer">
				<input id="close-group-form" class="footer-btn" type="button" value="Cancelar">
				<input class="footer-btn" type="submit" value="Agregar">
			</div>

		</form>

		<form id="form-tarea" class="hide-form" onsubmit="return agregarTarea()">
			<h2 class="form-title">Agregar tarea</h2>

			<div class="form-body">

				<div class="input-group">
					<label for="nombre_tarea">Nombre</label>
					<input type="text" id="nombre_tarea" name="nombre_tarea">
				</div>

				<div class="input-group">
					<label for="desc_tarea">Descripcion</label>
					<input type="text" id="desc_tarea" name="desc_tarea">
				</div>

				<div class="join-inputs">
					<div class="input-group">
						<label for="prioridad_tarea">Prioridad</label>
						<select name="prioridad_tarea" id="prioridad_tarea">
							<option value="1" selected>Alta</option>
							<option value="2">Media</option>
							<option value="3">Baja</option>
						</select>
					</div>
					<div class="input-group">
						<label for="lista_tarea">Grupo</label>
						<select name="lista_tarea" id="lista_tarea">
							<option value="null" selected>Ninguna</option>

							<% if (listas.length > 0) { %>
								<% for(lista of listas) { %>
									<option value="<%= lista.id %>"><%= lista.titulo %></option>
								<% } %>
							<% } %>

						</select>
					</div>
				</div>

				<div class="input-group">
					<label for="limite_tarea">Fecha Limite</label>
					<input type="date" id="limite_tarea" name="limite_tarea">
				</div>
				
			</div>
			
			<div class="form-footer">
				<input id="close-item-form" class="footer-btn" type="button" value="Cancelar">
				<input class="footer-btn" type="submit" value="Agregar">
			</div>

		</form>

		<div class="creation-menu">
			<ul class="options">
				<li class="new-task"><button><i class="fa-solid fa-file"></i></button></li>
				<li class="new-group"><button><i class="fa-solid fa-folder"></i></button></li>
			</ul>

			<div class="new-btn">
				<i class="fa-solid fa-plus"></i>
			</div>
		</div>
	</div>

	<div class="user-info">
		<div class="username">User: Hardcoded for now</div>
		<a href="/logout" class="logout-btn">Log out</a>
	</div>

	<script src="/javascripts/script.js"></script>
	<script src="/javascripts/gradient.js"></script>

</body>
</html>